name: Reusable Android Build

on:
  workflow_call:
    inputs:
      ref:
        required: false
        type: string
        default: main

jobs:
  build-android:
    runs-on: ubuntu-latest

    env:
      JAVA_HOME: /usr/lib/jvm/temurin-17-jdk-amd64

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Yarn
        run: npm install -g yarn

      - name: Install dependencies
        run: yarn install --network-timeout 1000000

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Accept licenses
        run: yes | sdkmanager --licenses

      # Génération d'une clé Android temporaire
      - name: Generate temporary keystore
        run: |
          keytool -genkeypair \
            -alias temp-key \
            -keyalg RSA \
            -keysize 2048 \
            -keystore temp.keystore \
            -validity 1 \
            -storepass tempPass123 \
            -keypass tempPass123 \
            -dname "CN=Temporary,O=Build,C=US"
        working-directory: android

      - name: Move keystore into app folder
        run: mv temp.keystore app/temp.keystore
        working-directory: android

      - name: Add signing config
        run: |
          echo "
          MYAPP_STORE_FILE=temp.keystore
          MYAPP_KEY_ALIAS=temp-key
          MYAPP_STORE_PASSWORD=tempPass123
          MYAPP_KEY_PASSWORD=tempPass123
          " >> app/gradle.properties
        working-directory: android

      - name: Build APK
        working-directory: android
        run: ./gradlew assembleRelease

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: android/app/build/outputs/apk/release/app-release.apk
